@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,800&display=swap');

$preto: #000;
$cinza: #6c757d;
$azulclaro: #ADD8E6;
$azul: #00f7ff;
$branco:#fff;
$bg-transparent:#808080;

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: $branco;
}


body {
    overflow-x: hidden;
    background-color: $azulclaro;
    font-family: 'Poppins', sans-serif;

}

header.scrolled {
    background-color: $bg-transparent;
    box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.1);
}

// header.scrolled .logo {
//     height: 80px;
//     line-height: 80px;
// }

body {

    header {
        border-bottom: 2px solid $branco;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
        transition: 0.3s;

        .navbar {
            padding-left: 0;
            padding-right: 0;
        }

        .navbar-light .navbar-toggler {

            border-color: #fff;
        }

        nav {

            .logo {

                display: flex;


                img {
                    width: 100px;
                }

            }

            .titulo {
                text-indent: -9000px;
            }

            ul {
                display: flex;
                margin-left: auto;
                align-items: center;
                padding-top: 10px;

                li {

                    margin-left: 30px;

                    a:hover {
                        text-decoration: none;
                        color: $preto;
                    }

                }
            }



        }
    }

    #home {
        margin-top: 20vh;

        .sobre {
            margin-top: 40px;


            .hero-img {
                border-radius: 150px;
                min-height: calc(100% + 120px);

            }
        }
    }



}

@media (max-width: 590px) {


    .logo {
        img {
            margin-right: 20px;

        }
    }


}

@media (max-width: 590px) {


    #home {
        img {
            margin-right: 20px;

        }
    }


}